
@{
    Layout = null;
}
@model WatchStore.Models.SharedManage
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>My Admin</title>
    <link rel="stylesheet" href="~/Content/admin/scss/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
</head>
<body>
    <div class="header container-fluid py-3">
        <div class=" d-flex justify-content-between">
            <div class="">
                <img src="https://htmldemo.net/ruiz/ruiz/assets/images/logo/logo.png" alt="">
            </div>
            <div>
                <span class="lead abc">
                    Hello Lê Minh Chánh
                </span>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC6iPDSqcgCcAtdEz_rPY0B-sxqMd7hz0Hlg&usqp=CAU"
                     class="avatar-admin" alt="">
                <button class=" btn-out">
                    Log Out
                </button>
            </div>
        </div>
    </div>
    <!--start main-->
    <section class="py-3 header">
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-xxl-2 col-xl-12 col-lg-12 col-md-12">
                    <!-- Tabs nav -->
                    <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <a class="nav-link mb-3 p-3 shadow active" id="v-pills-product-tab" data-toggle="pill"
                           href="#v-pills-product" role="tab" aria-controls="v-pills-product" aria-selected="true">
                            <i class="fa-solid fa-box-archive"></i>
                            <span class="font-weight-bold small text-uppercase fw-bold">My Product</span>
                        </a>

                        <a class="nav-link mb-3 p-3 shadow" id="v-pills-customer-tab" data-toggle="pill"
                           href="#v-pills-customer" role="tab" aria-controls="v-pills-customer" aria-selected="false">
                            <i class="fa-solid fa-users"></i>
                            <span class="font-weight-bold small text-uppercase fw-bold">Customer</span>
                        </a>

                        <a class="nav-link mb-3 p-3 shadow" id="v-pills-brand-tab" data-toggle="pill"
                           href="#v-pills-brand" role="tab" aria-controls="v-pills-brand" aria-selected="false">
                            <i class="fa-solid fa-copyright"></i>
                            <span class="font-weight-bold small text-uppercase fw-bold">Brand</span>
                        </a>

                        <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill"
                           href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                            <i class="fa-solid fa-boxes-packing"></i>
                            <span class="font-weight-bold small text-uppercase fw-bold">My Order</span>
                        </a>
                    </div>
                </div>


                <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12">
                    <!-- Tabs content -->
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-product"
                             role="tabpanel"
                             aria-labelledby="v-pills-product-tab">
                            <h4 class="font-italic mb-4">
                                My Product
                            </h4>
                            <table id="dataproduct" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Product Name</th>
                                        <th class="d-none d-xl-block d-xxl-block">Image</th>
                                        <th>Created Date</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listP)
                                    {

                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td class="d-none d-xl-block d-xxl-block">
                                                <img src="~/Content/img/product/@item.Avatar"
                                                     class="img-thumbnail avatar-product"
                                                     alt="Hollywood Sign on The Hill" />
                                            </td>
                                            <td>@item.CreateDate</td>
                                            <td>$@item.Price</td>
                                            <td>
                                                <button class="btns btns-add">
                                                    <a href="~/ManageProduct/Add">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </a>
                                                </button>
                                                <button class="btns btns-view">
                                                    <a href="~/Admin/ManageProduct/ViewP?pid=@item.Id"><i class="fa-solid fa-eye"></i></a>
                                                </button>
                                                <button class="btns btns-edit">
                                                    <a href="~/ManageProduct/Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                                </button>
                                                <button class="btns btns-delete" data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop4">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-customer" role="tabpanel"
                             aria-labelledby="v-pills-customer-tab">
                            <h4 class="font-italic mb-4">Customer</h4>
                            <table id="datacustomer" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Admin</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listC)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.FullName</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td>$@item.isAdmin</td>
                                            <td>
                                                <button class="btns btns-add" data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop5">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                                <button class="btns btns-view" data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop6">
                                                    <i class="fa-solid fa-eye"></i>
                                                </button>
                                                <button class="btns btns-edit" data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop7">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </button>
                                                <button class="btns btns-delete" data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop8">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
                        </div>

                        <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-brand" role="tabpanel"
                             aria-labelledby="v-pills-brand-tab">
                            <h4 class="font-italic mb-4">Brand</h4>
                            <table id="databrand" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Brand Name</th>
                                       
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listB)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td>
                                                <button class="btns btns-add"><i class="fa-solid fa-plus"></i></button>
                                                <button class="btns btns-view"><i class="fa-solid fa-eye"></i></button>
                                                <button class="btns btns-edit"><i class="fa-solid fa-pen-to-square"></i></button>
                                                <button class="btns btns-delete"><i class="fa-solid fa-xmark"></i></button>
                                            </td>
                                        </tr>

                                    }

                                </tbody>

                            </table>
                        </div>

                        <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-settings" role="tabpanel"
                             aria-labelledby="v-pills-settings-tab">
                            <h4 class="font-italic mb-4">My Order</h4>
                            <table id="dataorder" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>OrderDate</th>
                                        <th>OderDue</th>
                                        <th>Status</th>                               
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listO)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.OrderDate</td>
                                            <td>@item.OderDue</td>
                                            <td>@item.Status</td>
                                           
                                            <td>
                                                <button class="btns btns-add" data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop9">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                                <button class="btns btns-view" data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop10">
                                                    <i class="fa-solid fa-eye"></i>
                                                </button>
                                                <button class="btns btns-edit" data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop11">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </button>
                                                <button class="btns btns-delete" data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop12">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--end main-->
    <script src="~/Content/admin/js/table.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script type="text/css" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" />
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
</body>
</html>
